@{
    ViewData["Title"] = "Home Page";
}

<h1>All Reviews:</h1>

@* <ol>
@foreach (Review review in Model)
{
    <ul>
        <li>ID: @review.ReviewId</li>
        <li>Name: @review.Name</li>
        <li>City: @review.City</li>
        <li>Country: @review.Country</li>
        <li>Rating: @review.Rating</li>
        <li>Review: @review.Description</li>
    </ul>
    <br>
}
</ol> *@

<a href="/Reviews/Index"><p>See all Reviews</p></a>