@{
    ViewData["Title"] = "Home Page";
}
@using TravelClient.Models;

<h1>All Reviews:</h1>

<ol>
@foreach (Review review in Model)
{
    <ul>
        <li>Review # @review.ReviewId</li>
        <li>Name: @review.Name</li>
        <li>City: @review.City</li>
        <li>Country: @review.Country</li>
        <li>Rating: @review.Rating</li>
        <li>Review: @review.Description</li>
    </ul>
    <br>
}
</ol>

<a href="/Reviews/Index" class="btn btn-dark">Add a New Review</a>