@{
    ViewData["Title"] = "Details";
}

<h1>Reviews Info:</h1>


<ul>
    <li>ID: @Model.ReviewId</li>
    <li>Name: @Model.Name</li>
    <li>City: @Model.City</li>
    <li>Country: @Model.Country</li>
    <li>Rating: @Model.Rating</li>
    <li>Review: @Model.Description</li>
</ul>
<br>

<a href="/Reviews/Edit/@(Model.ReviewId)"><p>Edit</p></a>
<a href="/Reviews"><p>Return</p></a>
<a href="/Reviews/Delete/@(Model.ReviewId)"><p>Delete Review</p></a>