@{
    ViewData["Title"] = "Details";
}

<h1>Reviews Info:</h1>


<ul>
    @* <li>#: @Model.ReviewId</li> *@
    <li>Name: @Model.Name</li>
    <li>City: @Model.City</li>
    <li>Country: @Model.Country</li>
    <li>Rating: @Model.Rating/10</li>
    <li>Review: @Model.Description</li>
</ul>
<br>

<a href="/Reviews/Edit/@(Model.ReviewId)" class="btn btn-dark">Edit</a>
<a href="/Reviews" class="btn btn-dark">Return</a>
<a href="/Reviews/Delete/@(Model.ReviewId)" class="btn btn-dark">Delete Review</a>