@{
  Layout = "_Layout";
  ViewData["Title"] = "Search";
}

<ol>
@foreach (Review review in Model)
{
    <ul>
        @* <li>ID: @review.ReviewId</li> *@
        <li>City: @review.City</li>
        <li>Name: @review.Name</li>
        <li>Country: @review.Country</li>
        <li>Rating: @review.Rating</li>
        <li>Review: @review.Description</li>
    </ul>
    <a href="/Reviews/Details/@(review.ReviewId)"><p>View Details</p></a>
    <br>
}
</ol>